body{
    background: rgb(220, 201, 169);
}
ul li{
    display: inline-block;
}
ul{
    background: rgb(193, 173, 137);
}
span{
    font-size: 32px;
}
img {
    max-width: 60%;
    max-height: 80%;
}
.prew1{
    margin: 10px;
    text-align: center;
}
.prew2{
    margin: 10px;
    text-align: center;
}
.prew3{
    margin: 10px;
    text-align: center;
}.prew4{
    margin: 10px;
    text-align: center;
}
.prew5{
    margin: 15px;
    text-align: center;
}
.p1{
    border: 5px solid #4e03c5;
    margin: 10px;
    padding: 40px;
}
.p2{
    border: 5px solid #c0b848;
    margin: 10px;
    padding: 40px;
}
.p3{
    border: 5px solid #687e91;
    margin: 10px;
    padding: 40px;
}
.p4{
    border: 5px solid #d13c01;
    margin: 10px;
    padding: 40px;
}
.p5{
    border: 5px solid #7d77b1;
    margin: 10px;
    padding: 40px;
}
img {
    margin: 5px;
    border-radius: 15px;
    display: inline-block;
}
