body{
    background: rgb(220, 201, 169);
}
nav{
    background: rgb(193, 173, 137);
}
nav li{
    display: inline-block;
}
li{
    padding: 10px;
}
span{
    font-size: 15px;
}
.o1{
    text-align: center;
}
.o2{
    text-align: left;
}
.o3{
    text-align: right;
}
.o4{
    text-align: justify;
}
.o5{
    text-indent: 5px;
}
.o6{
    text-indent: 2%;
}
.o7{
    line-height: 20px;
}
.o8{
    line-height: 200%;
}
.o9{
    line-height: 1.2;
}
.o10{
    line-height: normal;
}
.o11{
    word-spacing: 2px;
}
.o12{
    letter-spacing: 2px;
}
.o13{
    white-space: nowrap;
}
.o14{
    white-space: pre;
}
.o15{
    text-transform: capitalize;
}
.o16{
    text-transform: uppercase;
}
.o17{
    text-transform: lowercase;
}
.o18{
    text-decoration: underline;
}
.o19{
    text-decoration: overline;
}
.o20{
    text-decoration: line-through;
}
.o21{
    font-style: italic;
}
